html, body {
    margin: 0;
    height: 100%;
}

#c {
    width: 100%;
    height: 100%;
    display: block;
}

#dialogBox{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 2vw;
    box-sizing: border-box;
    padding: 1vh;
    text-align: center;
    font-family: 'Franklin Gothic';
}

#orientationIndicator{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 2vw;
    box-sizing: border-box;
    padding: 1vh;
    text-align: center;
    font-family: 'Franklin Gothic';
}

button.dButton{
    background: none;
    border: 1px black solid;
    font-size: 4vh;
    border-radius: 2vh;
    margin-bottom: 5vh;
}

#overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('space.jpg');
}

.overlay-img {
    width: 90%;
    padding-top: 100px;

}

.text{
    display: flex;
}

button.d1Button{
   font-size: xx-large;
   
}

.textbt {
    font-size: larger;
    border: solid rgb(225, 217, 217);
    padding: 10px;
    color: white;
    margin-right: 10px;
    
    
}
.textbt1 {
    font-size: larger;
    border: solid rgb(212, 203, 203);
    padding: 10px;
    color: white;
    
    
    
    
}

#startTimer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: auto;
    height: auto;
    font-family: 'Franklin Gothic';
    font-size: 20vh;
}

.baseImage{
    width: inherit;
    height: inherit;
    object-fit: contain;
    
}

.stickImage{
    width: 100%;
    height: 100%;
    
}

#stick1Container{
    width: 10vw;
    height: 10vw;
    position: fixed;
    left: 15vw;
    top: 30vw;
    opacity: 0.5;
    
    
}

#stick2Container{
    width: 10vw;
    height: 10vw;
    position: absolute;
    left: 75vw;
    top: 30vw;
    opacity: 0.5;
   
}

#stick1{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
}

#stick2{
    position: absolute;
    width: 50%;
    height: 50%;
    right: 25%;
    top: 25%;
}




@media only screen and (min-width: 1000px) and (max-width: 1088px) {
    .baseImage {
        width: inherit;
        height: inherit;
        object-fit: contain;
        padding-top: 15rem;
    }

    .stickImage {
        width: 100%;
        height: 100%;
        padding-top: 15rem;
      
    }
}




